@mixin with-delimeter {
  &:after {
    content: "|";
    margin: 0 5px;
  }
}

.post-meta {
  color: #aaa;
  font-size: 12px;
}

.post-link {
  float: right;

  &:hover {
    text-decoration: underline;
  }
}

.post-body {
  margin-top: 20px;

  p {
    text-indent: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.post-user_name {
  @include with-delimeter;

  a {
    color: #aaa;
  }
}

.post-user_avatar {
  position: absolute;
  top: 0;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
  }
}

.post--full {
  .post-timestamp {
    @include with-delimeter;
  }
}

.control_link {
  color: #aaa;

  &:before {
    content: '|';
    margin: 0 5px;
  }
}
