.search_form {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;

  input[type='text'] {
    display: inline-block;
    width: 200px;
    height: 33px;
    vertical-align: top;
    margin: 0;
  }

  input[type='submit'] {
    vertical-align: top;
    margin: 0;
  }
}
